@model Art.Models.IndexViewModel
@{
    ViewData["Title"] = "İletişim";
}

       @{await Html.RenderPartialAsync("_Breadcrumbs");}

		<div id="colorlib-container">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<h2 class="heading-2">Bana ulaşın</h2>
						<div class="row contact-info-wrap row-pb-lg">
							<div class="col-md-3">
								<p><span><i class="fa-solid fa-location-dot"></i></i></span>
								@Model.Site!.Address, @Model.Site!.Postcode, @Model.Site!.District / @Model.Site!.City
								</p>
							</div>
							<div class="col-md-3">
								<p><span><i class="fa-solid fa-mobile-screen-button"></i></span> <a href='tel:@("+90"+Model.Site.Mobile)'
								>+90 @String.Format("{0:(###)### ####}", Convert.ToInt64(@Model.Site.Mobile))</a></p>
							</div>
							<div class="col-md-3">
								<p><span><i class="fa-regular fa-envelope"></i></span> <a href="mailto:@Model.Site!.Email">info@yoursite.com</a></p>
							</div>
							<div class="col-md-3">
								<p><span><i class="fa-solid fa-earth-americas"></i></span> <a href="@Model.Site.Url">yourwebsite.com</a></p>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="row">
							<div class="col-md-6">
								@Html.AntiForgeryToken
							</div>
							<div class="col-md-6">
								<h2 class="heading-2">Get In Touch</h2>
								<form action="/contacform">
								
									<div class="row form-group">
										<div class="col-md-6">
											<label for="fname">First Name</label>
											<input type="text" id="fname" class="form-control" placeholder="Your firstname">
										</div>
										<div class="col-md-6">
											<label for="lname">Last Name</label>
											<input type="text" id="lname" class="form-control" placeholder="Your lastname">
										</div>
									</div>

									<div class="row form-group">
										<div class="col-md-12">
											<label for="email">Email</label>
											<input type="text" id="email" class="form-control" placeholder="Your email address">
										</div>
									</div>

									<div class="row form-group">
										<div class="col-md-12">
											<label for="subject">Subject</label>
											<input type="text" id="subject" class="form-control" placeholder="Your subject of this message">
										</div>
									</div>

									<div class="row form-group">
										<div class="col-md-12">
											<label for="message">Message</label>
											<textarea name="message" id="message" cols="30" rows="10" class="form-control" placeholder="Say something about us"></textarea>
										</div>
									</div>
									<div class="form-group">
										<input type="submit" value="Send Message" class="btn btn-primary">
									</div>

								</form>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>